/* Blog styles */
.blog {
  display: flex;
  flex: 1;
  flex-direction: column;
  align-items: center;
}

.blog-title {
  text-align: center;
  font-size: 2rem;
  margin-bottom: 0;
  font-family: 'Lora', serif;
  font-weight: bold;
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
}

.blog-title p, .blog-date p {
  margin: 0;
  margin-bottom: 1rem;
}

.blog-date p {
  text-align: center;
  font-size: 1.25rem;
}

.blog-post {
  width: 80%;
  margin: 0 auto;
  margin-top: 2rem; 
}

.blog-post p, .blog-post ul, .blog-post ol {
  text-align: left;
  margin-bottom: 1rem; /* Added space below p tags */
}

.blog-post ul {
  padding-left: 40px;
}

.blog-post a {
  color: var(--color-link);
  font-weight: bold;
  margin: 0;
  display: inline;
}

.blog-post a::before {
  content: '🔗';
}

.blog-tags, .blog-toc-tags {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  width: 80%;
  margin: 0 auto;
}

.blog-tags li, .blog-toc-tags span {
  display: inline-block;
  background-color: var(--color-tag-bg);
  border-radius: 5px;
  padding: 5px 10px;
  margin-top: 5px;
  margin-bottom: 5px;
  margin-right: 10px;
  font-size: 14px;
  color: var(--color-tag-text);
  border: 1px solid var(--color-text);
  text-align: center;
}

.blog-tag {
  background-color: var(--color-tag-bg);
  color: var(--color-tag-text);
  padding: 5px 10px;
  border-radius: 5px;
  font-size: 0.875rem;
}