/* Home */
.home h2 {
  text-align: center;
  font-size: 6rem;
}

.home p {
  text-align: justify;
}

/* Resume */
.resume {
  text-align: left;
}

.resume h2 {
  margin-bottom: 0;
}

.resume h1, h2, h3, h4, h5, h6 {
  margin-top: 0;
  text-align: left;
}

.resume ul {
  padding:  0 0 0 20px;
}

.resume img {
  aspect-ratio: auto 1 / 1;
  height: 50vh; 
  margin: auto;
  display: block;
}