.home h2 {
  text-align: center;
  font-size: 6rem;
}

.home p {
  text-align: justify;
}

@keyframes strikethrough {
  from {
    width: 0;
  }
  to {
    width: 100%;
  }
}

.strikethrough {
  position: relative;
  display: inline-block;
}

.strikethrough::after {
  content: '';
  position: absolute;
  left: 0;
  bottom: 50%;
  width: 100%;
  height: 2px;
  background-color: red;
  animation: strikethrough 1s ease-out forwards;
}