/* Home */
.home h2 {
  text-align: center;
  font-size: 6rem;
}

.home p {
  text-align: justify;
}

@keyframes strikethrough {
  from {
    width: 0;
  }
  to {
    width: 100%;
  }
}

.strikethrough {
  position: relative;
  display: inline-block;
}

.strikethrough::after {
  content: '';
  position: absolute;
  left: 0;
  bottom: 50%;
  width: 100%;
  height: 2px;
  background-color: red;
  animation: strikethrough 1s ease-out forwards;
}

/* Resume */
.resume {
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  text-align: left;
}

.resume h2 {
  margin-bottom: 0;
}

.resume h1, h2, h3, h4, h5, h6 {
  margin-top: 0;
  text-align: left;
}

.resume ul {
  padding: none;
}

.resume img {
  aspect-ratio: auto 1 / 1;
  height: 50vh; 
  margin: auto;
  display: block;
}