.resume {
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  text-align: left;
}

.resume h2 {
  margin-bottom: 0;
}

.resume h1, h2, h3, h4, h5, h6 {
  margin-top: 0;
  text-align: left;
}

.resume img {
  aspect-ratio: auto 1 / 1;
  height: 50vh; 
  margin: auto;
  display: block;
}