.signup {
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    text-align: left;
    width: 50% !important;
    padding-top: calc(var(--navbar-height) + 20px);
}

@media (max-width: 1024px) {
    .signup {
        width: 80% !important;
    }
}

@media (max-width: 768px) {
    .signup {
        width: 100% !important;
    }
}

.signup h2 {
    text-align: center;
    margin-bottom: 20px;
}

.signup form {
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.signup label {
    margin-top: 5px;
    font-size: 0.8em;
    font-style: italic;
    color: grey;
}

.signup input {
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.signup button {
    padding: 10px 20px;
    border: none;
    border-radius: 50px;
    background-color: #007BFF;
    color: white;
    cursor: pointer;
    padding: 10px;
    width: 150px;
    align-self: center;
}

.signup button:hover {
    background-color: #0056b3;
}

.signup .error {
    color: red;
    font-size: 0.8em;
    margin-top: 5px;
}

.signup div {
    display: flex;
    flex-direction: column;
    padding: 10px;
}

.signup .error p {
    margin: 0;
    padding: 0;
  }
  