---
import CallToAction from './CallToAction.astro';
import Icon from './Icon.astro';
---
<div>
	<CallToAction href="/Mohrenweiser_mattmoh.pdf" target="_blank">
		Print My Resume
		<Icon icon="resume" size="1.2em" />
	</CallToAction>
</div>

<style>
	div {
		display: flex;
		justify-content: center;
		height: fit-content;
	}

	/* @media (min-width: 50em) {

	} */
</style>