.tabs {
    display: flex;
    border-bottom: 1px solid #ddd;
    position: fixed;
    background-color: #fff;
    width: 100%;
    z-index: 999;
    top: calc(var(--navbar-height) - 5px);
    height: var(--submenu-height);
    padding-top: 5px;
}

main.signup {
    margin: 0 auto;
    align-items: center;
    padding-top: calc(var(--navbar-height) + var(--submenu-height));
    padding-bottom: calc(var(--footer-height) + 1rem);
    gap: 20px;
}

@media (min-width: 1080px) {
    .tabs {
        max-width: 1000px;
    }
}

.tabs a {
    text-decoration: none;
    padding: 10px;
    border: 1px solid #ddd;
    border-bottom: none;
    transition: border-color 0.3s ease;
    margin: 0;
    display: block;
}

.tabs a:active {
    border-top: 2px solid #ddd;
}

.submenu-list {
    display: flex;
    list-style-type: none;
    padding: 0;
    margin: 0;
    border: 0;
}

.submenu-item {
    margin-left: 20px;
    padding: 0;
    display: flex;
    align-items: flex-end;
}

.submenu-button {
    background-color: red !important;
    margin-bottom: .5em !important;
    margin-right: .5em !important;
    margin-top: 0 !important;
}

.signup {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    overflow-x: hidden;
}

.signup button {
    display: block;
    margin: 20px auto;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 25px;
    padding: 12px 24px;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s ease, transform 0.3s ease;
}

.signup button:hover {
    background-color: #0056b3;
    transform: scale(1.05);
}

.signup img {
    border: #6c757d 1px solid;
}

.signup label {
    color: #6c757d;
    font-style: italic;
    margin-top: 5px;
    text-align: left;
}

.error p {
    color: #dc3545;
    font-style: italic;
    margin: 0;
}

.signup span {
    color: #6c757d;
}

.signup input {
    display: block;
    margin: 20px auto 0;
    padding: 12px;
    border: 1px solid #ced4da;
    border-radius: 5px;
    transition: border-color 0.3s ease;
    align-items: center;
}

.signup input:focus {
    border-color: #007bff;
    outline: none;
}

.signup .icon {
    position: absolute;
    right: 10px;
    top: 50%;
    transform: translateY(-50%);
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    cursor: pointer;
}

.signup h2 {
    margin-bottom: 0;
    text-align: center;
}

.avatar-image {
    width: 50px;
    height: 50px;
    border-radius: 50%;
}