/* StyleGuidePage.css */
.style-guide {
  display: flex;
  flex-direction: row;
  width: 100%; /* Ensure the style-guide takes full width */
  height: calc(100vh - 14.4vh); /* Subtract navbar and footer height */
  margin: 0;
}

.toc-container {
  display: flex;
  flex-direction: column;
  box-sizing: border-box; /* Include padding and border in the element's total width and height */
  overflow-y: auto;
  overflow-x: hidden; /* Add vertical scroll if content overflows */
  transition: transform 0.3s ease-in-out;
  position: relative; /* Ensure the arrow is positioned correctly */
  z-index: 2; /* Ensure TOC is above the content */
  height: 100%; /* Ensure the TOC container uses the entire height */
  width: 20vw; /* Set the width of the TOC container */
 /* Add right border */
}

.toc-container.hidden {
  transform: translateX(-83%); /* Move the TOC content left */
  height: 100%; /* Ensure the hidden TOC container uses the entire height */
  border-right: 0.1vw solid #ddd;
}

.toc-container.visible {
  transform: translateX(0);
  height: 100%; /* Ensure the visible TOC container uses the entire height */
  border-right: 0.1vw solid #ddd;
}

.arrow-container {
  text-align: right;
  cursor: pointer;
  position: absolute;
  top: 1vh;
  right: 1vw; /* Position arrow inside the TOC */
  background-color: white;
  border: none; /* Remove the border */
  border-radius: 50%;
  padding: 0.5vh;
  z-index: 3; /* Ensure arrow is above the TOC */
  width: 3vw; /* Set the width of the arrow-container */
}

.content-container {
  padding: 2vw;
  padding-top: 0;
  padding-bottom: 0;
  height: calc(100vh - 14.4vh); /* Ensure content takes full height between navbar and footer */
  box-sizing: border-box; /* Include padding and border in the element's total width and height */
  overflow-y: auto; /* Add vertical scroll if content overflows */
  flex-grow: 1; /* Allow content-container to grow and fill available space */
  width: calc(100vw - 20vw); /* Subtract TOC width */
  transition: width 0.3s ease-in-out; /* Smooth transition for width change */
  z-index: 1; /* Ensure content is below the TOC */
  text-align: left;
}

.style-guide .markdown-content {
  margin: 0;
}

.p-default {
  margin-top: 1rem;
}

.toc {
  list-style-type: none;
  padding: 0;
  margin-top: 5vh; /* Ensure the TOC list items are below the arrow */
  flex-grow: 1; /* Allow the TOC list to grow and fill available space */
}

.toc li {
  margin-bottom: 1vh;
}

.toc a {
  text-decoration: none;
  color: #007bff;
  display: block; /* Ensure the entire area is clickable */
  padding: 0.5vh; /* Add some padding for better click area */
  padding-left: 1vw;
}

.toc a:hover {
  background-color: #e0e0e0; /* Gray hover effect */
  text-decoration: none; /* Remove underline on hover */
  color: #333;
}

.toc .active {
  background-color: #e0e0e0; /* Keep gray background */
  color: #333; /* Keep font color */
}

.toc .selected a {
  font-weight: bold;
  color: #0056b3;
}