/* index.css */
:root {
  font-family: 'Roboto', sans-serif;
}

main {
  padding-top: 90px;
  padding-bottom: 30px;
}

.header-container {
  position: relative;
}

.arrow-icon {
  position: absolute;
  right: 0;
  top: 50%;
  transform: translateY(-50%);
}