/*
* {
  outline: 1px solid red;
}
*/

:root {
  font-family: 'Roboto', sans-serif;
  --navbar-height: 100px;
  --footer-height: 30px;
}

.fade-enter {
  opacity: 0;
}
.fade-enter-active {
  opacity: 1;
  transition: opacity 300ms;
}
.fade-exit {
  opacity: 1;
}
.fade-exit-active {
  opacity: 0;
  transition: opacity 300ms;
}

body {
  padding: 0;
  margin: 0;
  display: flex;
  flex-direction: column;
}

@media (min-width: 1080px) {
  main {
    max-width: 1000px;
  }
}

main {
  padding-bottom: var(--footer-height);
  margin: 0 auto;
  align-items: center;
  padding-top: calc(var(--navbar-height) + 1rem);
  gap: 20px;
}

h1, h2, h3 {
  font-family: 'Lora', serif;
}

h1, h2, h3, p, ul {
  margin: 0;
  padding: 0;
  margin-bottom: 1rem;
  text-align: left;
}

h1 {
  font-size: 1.5rem;
  border-bottom: 1px solid black;
}

h2 {
  font-size: 1.25rem;
}

h3 {
  font-size: 1rem;
}

a {
  text-decoration: none;
  color: #000;
  display: flex;
  align-items: center;
  margin: 0 15px;
}

/* Navbar styles */
.navbar {
  display: flex;
  align-items: center;
  padding: 10px 20px;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 1000;
  border-bottom: 1px solid #ddd;
  background-color: #ffffff;
}

.navbar ul {
  display: flex;
  align-items: center;
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.navbar a {
  margin-left: 20px;
  font-weight: bold;
}

.navbar img {
  width: 75px;
  height: 75px;
  border-radius: 50%;
}

/* Footer styles */
.footer {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: .6rem;
  position: fixed;
  bottom: 0;
  width: 100vw;
  z-index: 1000;
  background-color: #ffffff;
}

.footer-container {
  width: 100vw;
  max-width: 1200px;
  margin: 0 auto;
}

.footer ul {
  display: flex;
  justify-content: center;
  align-items: center;
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.footer .icon {
  margin-right: 8px;
}

/* markdown styles */
.markdown-content {
  width: 80%;
  margin: 0 auto;
  padding-top: 20px;
  padding-bottom: 44px;
}

.markdown-content ul {
  margin-top: 10px;
  padding-left: 40px;
}

/* Blog styles */
.blog {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.blog-title {
  text-align: center;
  font-size: 2rem;
  margin-bottom: 0;
  font-family: 'Lora', serif;
  font-weight: bold;
}

.blog-date p {
  text-align: center;
  font-size: 1.25rem;
}

.blog-post {
  width: 80%;
  margin: 0 auto;
}

.blog-post p, ul, ol {
  text-align: left;
}

.blog-post ul {
  padding-left: 40px;
}

.blog-post a {
  color: #007bff;
  font-weight: bold;
  margin: 0;
  display: inline;
}

.blog-post a::before {
  content: '🔗';
}

.blog-tags {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  width: 80%;
  margin: 0 auto;
}

.blog-tags li,
.blog-toc-tags span {
  display: inline-block;
  background-color: #f3f3f3;
  border-radius: 5px;
  padding: 5px 10px;
  margin: 5px;
  font-size: 14px;
  color: #333;
  border: 1px solid black;
  text-align: center;
}

.blog-toc-tags span {
  margin-left: 15px;
}

.blog-toc {
  text-align: left;
}

.blog-toc div {
  text-align: left;
  margin-bottom: 20px;
}

.blog-toc-item {
  margin-bottom: 20px;
  border-bottom: 1px solid #ddd;
}

.blog-toc-item a {
  text-decoration: none;
  color: inherit;
  display: block;
}

.blog-toc-item h2 {
  margin: 0;
  font-size: 1.5rem;
}

.blog-toc-date {
  margin: 0;
  font-size: 1rem;
  color: #666;
  margin-top: 5px;
}