:root {
  font-family: 'Roboto', sans-serif;
  --navbar-height: 100px;
  --footer-height: 30px;
  --submenu-height: 50px;
  --color-background: rgba(211, 211, 211, 0.75);
  --color-box-shadow: rgba(0, 0, 0, 0.1);
  --color-link: #007bff;
  --color-link-hover: #0056b3;
  --color-text: #000;
  --color-text-muted: #555;
  --color-border: #ddd;
  --color-tag-bg: #f3f3f3;
  --color-tag-text: #333;
  --color-toc-date: #666;
  --border-radius: 50px;
  --box-shadow: 0 4px 8px var(--color-box-shadow);
  --color-main-bg: rgba(0, 0, 0, 0.5);
  --color-main-text: white;
}

body {
  padding: 0;
  margin: 0;
  display: flex;
  flex-direction: column;
}

@media (min-width: 1080px) {
  main {
    max-width: 1000px;
  }
}

main {
  margin: 0 auto;
  align-items: center;
  margin-top: calc(var(--navbar-height) + 2rem);
  margin-bottom: calc(var(--footer-height) + 2rem);
  gap: 20px;
  padding: 20px;
  background-color: var(--color-main-bg);
  color: var(--color-main-text);
  border-radius: 10px;
}

h1, h2, h3 {
  font-family: 'Lora', serif;
}

h1, h2, h3, p, ul {
  margin: 0 0 1rem 0;
  padding: 0;
  text-align: left;
}

p {
  margin-bottom: 1rem;
}

h1 {
  font-size: 1.5rem;
  border-bottom: 1px solid var(--color-main-text);
}

h2 {
  font-size: 1.25rem;
}

h3 {
  font-size: 1rem;
}

a {
  text-decoration: none;
  color: var(--color-text);
  display: flex;
  align-items: center;
  margin: 0 15px;
}

button {
  background-color: var(--color-main-bg);
  color: var(--color-main-text);
  border: 1px solid var(--color-border);
  padding: 10px 20px;
  border-radius: var(--border-radius);
  cursor: pointer;
  transition: transform 0.2s;
  box-shadow: var(--box-shadow);
  text-decoration: none;
  display: block;
  margin: 0 auto;
}

button:hover {
  transform: scale(1.05);
}

.app-background {
  background-image: url('/background.avif');
  background-size: cover;
  background-position: center;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}